.title {
    color: white;
    letter-spacing: 1px;
    margin-left: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
    align-items: center;
}

.btn {
    background-color: #2e7d32;
    padding: 0.2rem 2rem;
    font-family: inherit;
    font-weight: 700;
    color: white;
    border-radius: 6px;
    font-size: 1rem;
    transition: 0.4s;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: #4caf50;
        color: black;
    }
}

form {
    margin-right: 1rem;
    display: flex;

    button {
        margin-left: 0.5rem;
    }
}