.title {
    color: white;
    letter-spacing: 1px;
    margin-left: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
    align-items: center;
}

.btn {
    background-color: #2e7d32;
    padding: 0.2rem 2rem;
    font-family: inherit;
    font-weight: 700;
    color: white;
    border-radius: 6px;
    font-size: 1rem;
}

form {
    margin-right: 1rem;
    display: flex;

    button {
        margin-left: 0.5rem;
    }
}

input {
    height: 2rem;
    border-radius: 6px;
    font-size: 1rem;
}